<div #convTainer id="conversation-container">
  <div *ngFor="let msg of messages">
    <text-message *ngIf="msg.type === 'text'" [align]="msg.align" [text]="msg.text"></text-message>
    <video-message *ngIf="msg.type === 'video'" [align]="msg.align" [url]="msg.url"></video-message>
  </div>

  <typing-indicator *ngIf="isEmitterTyping"> </typing-indicator>
</div>


<div id="input-container">
  <div>
    <input [value]="userInput" (keydown)="handleKeyDown($event)" (input)="handleInput($event)" id="input-bar" placeholder="Aa" />
    <button (click)="sendMessage()" id="send-button">Send</button>
  </div>
</div>
