<div #convTainer id="conversation-container">
  <div *ngFor="let metamsg of messages">
    <text-message *ngIf="metamsg.message.type === 'text'" [align]="metamsg.align" [text]="metamsg.message.text"></text-message>
    <video-message *ngIf="metamsg.message.type === 'video'" [align]="metamsg.align" [url]="metamsg.message.url"></video-message>
  </div>

  <typing-indicator *ngIf="isEmitterTyping"> </typing-indicator>
</div>


<div id="input-container">
  <div>
    <button (click)="toggleSpeechRecognition()" id="record-button">
      <svg [class.recording]="recording" width="20" height="20">
        <circle cx="10" cy="10" r="8" />
      </svg>
    </button>
    <input [value]="userInput" (keydown)="handleKeyDown($event)" (input)="handleInput($event)" id="input-bar" placeholder="Aa" />
    <button (click)="sendMessage()" id="send-button">Send</button>
  </div>
</div>
