@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

:host {
  @include flex-grow(1);
  @include display-flex();
  @include flex-flow-column();
}

button[class*="quick-replies"] {
  box-sizing: border-box;
  padding: 1em 2em;

  margin: 0.5em;

  border-width: 2px;
  border-style: solid;
  @include border-radius-1(5px);
  background-color: rgba(0,0,0,0);
  border-color: $color-1;
  color: $color-1;
  cursor: pointer;

  font-weight: bold;

  &:hover {
    background-color: $color-1;
    color: $white;
  }
}

#conversation-container {
  @include flex-grow(1);
  padding: 1em;
  overflow-y: auto;
}

#input-container {
  @include flex(0,0,auto);
  padding: 0 1em;
}

#quick-replies {
  margin: 0 auto;
  padding: 0.5em 0;
  overflow-x: auto;
  white-space: nowrap;
  text-align: right;
}

#text {
  @include display-flex();
  border-top: 1px solid $grey;
  padding: 0.5em 0;
}

#input-bar {
  @include flex-grow(1);
  padding: 1em;
  border: 1px solid $grey;
}

#send-button {
  @include flex(0,0,auto);
  padding: 1em;
  @include border-radius-4(0,5px,5px,0);
  background-color: $white;
  color: $grey-d;
  border: 1px solid $grey;
  border-left: none;
  cursor: pointer;

  &:hover {
    background-color: $color-1;
    color: $white;
  }
}

#record-button {
  @include flex(0,0,auto);
  padding: 1em;
  @include border-radius-4(5px,0,0,5px);
  background-color: $white;
  color: $grey-d;
  border: 1px solid $grey;
  border-right: none;
  cursor: pointer;

  svg {
    fill: $grey;

    &[class*='recording'] {
      fill: $red;
      @include animation('expand', 1s, 0, ease-in-out, infinite, forwards);
    }
  }

  &:hover {
    svg {
      fill: $red;
    }
  }
}

@keyframes expand {
  0% { transform: scale(1); }
  50% { transform: scale(1.25); }
  100% { transform: scale(1); }
}
