<div id="conversation-container">
  <div *ngFor="let m of messages">
    <text-message *ngIf="m.emitterType == emitterType" [align]="'right'" [text]="m.message.payload"></text-message>
    <text-message *ngIf="m.emitterType != emitterType" [align]="'left'" [text]="m.message.payload"></text-message>
  </div>
</div>

<div id="input-container">
  <div>
    <input [(ngModel)]="userInput" (keydown)="handleKeyDown($event)" id="input-bar" placeholder="Aa" />
    <button (click)="sendMessage()" id="send-button">Send</button>
  </div>
</div>
