@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

:host {
  @include flex-grow(1);
  @include display-flex();
  @include flex-flow-column();
}

#conversation-container {
  @include flex-grow(1);
  padding: 1em;
  overflow-y: auto;
}

#input-container {
  @include flex(0,0,auto);
  padding: 0 1em;

  div {
    @include display-flex();
    border-top: 1px solid $grey;
    padding: 1em 0;

    #input-bar {
      @include flex-grow(1);
      padding: 1em;
      @include border-radius-4(5px,0,0,5px);
      border: 1px solid $grey;
    }

    #send-button {
      @include flex(0,0,auto);
      padding: 1em;
      @include border-radius-4(0,5px,5px,0);
      background-color: $white;
      color: $grey-d;
      border: 1px solid $grey;
      border-left: none;

      &:hover {
        background-color: $color-1;
        color: $white;
      }
    }
  }
}
