@import '../../../styles/colors.scss';

:host {
  z-index: 100;
  background-color: white;
  flex: 0 0 auto;
  display: flex;
  padding: 1em;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);

  & div {
    flex-grow: 1;
  }

  & nav {
    display: flex;
    align-items: center;

    a,
    a:hover,
    a:visited
    {
      display: inline-block;
      margin-right: 1em;
      color: $color-1;
      text-decoration: none;
      font-weight: bold;
    }
  }
}
