@import '../../../styles/colors.scss';
@import '../../../styles/metrics.scss';
@import '../../../styles/mixins.scss';

:host {
  z-index: 100;
  background-color: $white;
  padding: 1em;
  @include flex(0,0,auto);
  @include display-flex();
  @include box-shadow(0,3px,3px,$grey);
}

#logo {
  width: 33%;
}

#brand {
  width: 33%;
  @include display-flex();
  @include justify-content-center();
}

nav {
  width: 33%;
  @include display-flex();
  @include align-items-center();
  justify-content: flex-end;

  a,
  a:hover,
  a:visited
  {
    display: inline-block;
    margin-right: 1em;
    color: $color-1;
    text-decoration: none;
    font-weight: bold;
  }
}

button[class*="teacher"] {
  padding: 1.5em 3em;
  cursor: pointer;
  @include border-radius-1(5px);
  border-width: 2px;
  border-style: solid;
  font-weight: bold;
  font-size: 1em;
  margin-left: 10px;

  background-color: rgba(0,0,0,0);
  border-color: $blue;
  color: $blue;

  &:hover {
    background-color: $blue;
    border-color: $white;
    color: $white;
  }
}

button[class*="student"] {
  padding: 1.5em 3em;
  cursor: pointer;
  @include border-radius-1(5px);
  border-width: 2px;
  border-style: solid;
  font-weight: bold;
  font-size: 1em;
  margin-left: 10px;
  background-color: rgba(0,0,0,0);
  border-color: $color-1;
  color: $color-1;

  &:hover {
    background-color: $color-1;
    border-color: $white;
    color: $white;
  }
}

@media screen and (max-width: $tablet-width) {
  #brand {
    display: none;
  }

  #logo,
  nav {
    width: 50%;
  }
}
