<app-header></app-header>

<div id="body">
  <div>
    <h1> Teacher </h1>
    <div id="inputs">
      <div><label> Name </label> <input placeholder="name" [(ngModel)]="name" /></div>
      <div><label> Classroom id </label> <input placeholder="classroom id" [(ngModel)]="roomId" /></div>
      <div><label> Teacher pass </label> <input placeholder="password" [(ngModel)]="password" /></div>
    </div>
    <div id="call-to-action">
      <button class="prim" (click)="joinSession()"> Join session </button>
    </div>
  </div>
</div>
