@import '../../../styles/colors.scss';
@import '../../../styles/metrics.scss';
@import '../../../styles/mixins.scss';

:host {
  height: 100vh;
  overflow-y: auto;
}

#bg-pic {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../../../assets/background-1-xd.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -5;
}

#bg-color-fltr {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-1;
  opacity: 0.2;
  z-index: -4;
}

#content {
  box-sizing: border-box;
  width: 400px;
  margin: 0 auto;
  margin-top: 2em;
  padding: 2em;
}

a {
  display: block;
  margin-top: 2em;

  color: white;

  text-align: center;
}

button {
  width: 100%;
  margin-top: 1em;
  padding: 1.5em 0;

  background-color: rgba(0,0,0,0);
  color: #FFFFFF;
  @include border-radius-1(5px);
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;

  font-weight: bold;
  font-size: 1em;

  &:hover {
    background-color: #FFFFFF;
    color: $color-1;
  }

  &[disabled],
  &[disabled]:hover {
    background-color: rgba(0,0,0,0);
    border-color: #FFFFFF;
    color: #FFFFFF;
    opacity: 0.5;
  }
}

form {

  h1 {
    text-align: center;
    color: white;
    margin-bottom: 1em;
  }

  > div {
    margin: 0 auto;
    margin-bottom: 1em;

    label {
      display: block;
      width: 100%;
      margin-bottom: 0.25em;
      color: white;
    }

    input,
    select {
      box-sizing: border-box;
      display: block;
      width: 100%;
      padding: 1em;

      background-color: $white;
      @include border-radius-1(5px);
      border: 1px solid $grey;
    }

    option {
      padding: 1em;
    }
  }
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid $green !important;
}

.ng-invalid:not(form)  {
  border-left: 5px solid $red !important;
}

.errors {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  background-color: $red;
  color: $white;
  border-left: 5px solid $red;
  @include border-radius-1(5px);
}

@media screen and (max-width: $tablet-width) {

  #content {
    width: 100%;
    margin-top: 0;
  }
}
