/*******************************/
/*  Responsivness
/*******************************/
$tablet-width: 1000px;

/*******************************/
/*  Messages
/*******************************/
$msg-mg-top: 5px;

$msg-text-max-w: 80%;
$msg-video-w: 50%;
