<div id="students-section">
  <div>
    <div class="bubble-title">Connected students</div>
  </div>

  <div class="list">
    <div class="item-container" *ngFor="let student of students; index as i" >
      <div class="item" [class.active]="students[i]['id'] == selectedStudent" (click)="selectStudent(i)"> {{ student.name }} </div>
      <div *ngIf="student.isTyping" class="badge-typing"> </div>
      <div *ngIf="!student.isTyping && student.unseen > 0" class="badge-unseen"> {{ student.unseen }} </div>
      <div *ngIf="!student.isTyping && student.unseen == 0" class="badge-uptodate"> </div>
    </div>
  </div>
</div>
