@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

.bubble {
  background-color: white;
  margin-top: 0.5em;
  padding: 1em;
  word-wrap: break-word;
  @include border-radius-1 (5px);
  text-align: center;

}

.bubble-title {
  @extend .bubble;
  background-color: $color-3;
  color: white;
  font-weight: bold;
}

.section {
  @include display-flex();
  @include flex-flow-column();
  @include flex-grow(1);
}

.list {
  padding: 1em 0;
  overflow: auto;
}

.item {
  @extend .bubble;

  &[class*="active"] {
    background-color: $color-1;
    color: #FFFFFF;
    font-weight: bold;
  }

  &:hover {
    cursor: pointer;
  }
}

:host {
  padding: 1em;
  background-color: $color-2;

  @include display-flex();
  @include flex-flow-column();
  @include flex(0, 0, 350px);

  #students-section {
    @extend .section;
    height: 66%;
  }

  #teachers-section {
    @extend .section;
    height: 33%;
  }
}
