@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

.bubble {
  background-color: white;
  padding: 1em;
  word-wrap: break-word;
  @include border-radius-1 (5px);
  text-align: center;
}

.bubble-title {
  @extend .bubble;
  background-color: $color-3;
  color: white;
  font-weight: bold;
}

.section {
  @include display-flex();
  @include flex-flow-column();
  @include flex-grow(1);
}

.list {
  padding: 1em 0;
  overflow: auto;
}

.item-container {
  @include display-flex();
  @include align-items-center();
  margin-top: 0.5em;
}

.item {
  @extend .bubble;
  @include flex-grow(1);

  &[class*="active"] {
    background-color: $color-1;
    color: #FFFFFF;
    font-weight: bold;
  }

  &:hover {
    cursor: pointer;
  }
}

.badge-abstract {
  $badge-size: 36;
  background-color: white;
  margin-left: 0.5em;
  width: #{$badge-size}px;
  height: #{$badge-size}px;
  cursor: pointer;
  @include border-radius-1 (#{$badge-size/2}px);
  @include display-flex();
  @include align-items-center();
  @include justify-content-center();
}

.badge-agent {
  @extend .badge-abstract;
  background-color: $grey;
}

.badge-typing {
  @extend .badge-abstract;
  background-color: $color-1;
}

.badge-uptodate {
  @extend .badge-abstract;
  background-color: $green;
}

.badge-unseen {
  @extend .badge-abstract;
  background-color: $red;
}

:host {
  padding: 1em;
  background-color: $color-2;

  @include display-flex();
  @include flex-flow-column();
  @include flex(0, 0, 350px);

  #students-section {
    @extend .section;
  }
}
