@import '../../../../../styles/colors.scss';
@import '../../../../../styles/metrics.scss';
@import '../../../../../styles/mixins.scss';

#container {
  box-sizing: border-box;
  margin-top: #{$msg-mg-top};
  max-width: #{$msg-video-w};
  padding: 0.5em;
  @include border-radius-1(10px);

  &[class*="right"] {
    margin-left: calc(100% - #{$msg-video-w});
    background-color: $color-1;
    color: white;
  }

  &[class*="left"] {
    background-color: $color-3;
    color: white;
  }
}

.intrinsic-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.intrinsic-element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: $tablet-width) {
  #container {
    max-width: 100%;

    &[class*="right"] {
      margin-left: 0;
    }
  }
}
