<app-header></app-header>
<section id="banner">
  <div class="content column-centered">
    <h1 class="white">&laquo; Learning is about you &raquo;</h1>

    <button class="prim"> Request access </button>
  </div>
</section>

<section>
  <div class="content row">
    <div class="col-25 center-content"> <img src="../../../assets/backpack.svg" /> </div>
    <div class="col-100">
      <h1 class="center-text blue"> Jeny<span class="red">AI</span> is the assistant teachers and students have always dreamed of </h1>
    </div>
  </div>
</section>

<section id="accessibility">
  <div class="content row">
    <div class="col-50">
      <h1 class="white">On your computer</h1>
      <h1 class="white">On your smartphone</h1>
    </div>
    <div class="col-50 center-content"> <img src="../../../assets/desktop-phone.png" /> </div>
  </div>
</section>

<section>
  <h1 class="center-text blue">Thinking today about the <span class="red">education of tomorrow</span></h1>
  <div class="content row">
    <div class="col-50 center-content"> <img src="../../../assets/teacher.svg" /> </div>
    <div class="col-50">
      <h3 class="blue">A new way to learn</h3>
      <p class="grey-d">We believe in personalization and
adaptive learning. We tell the student where and why they are wrong. Our interactive content make it easy to learn. We fight frustrating, inefficient math practice to enhance learning.</p>
    </div>
  </div>

  <div class="content row-reverse">
    <div class="col-50 center-content"> <img src="../../../assets/research.svg" /> </div>
    <div class="col-50">
      <h3 class="red">The best research</h3>
      <p class="grey-d">At the verge of AI, Education and cognitive sciences, we are gathering the best talents to create what could revolutionize the life of millions of children.</p>
    </div>
  </div>

  <div class="content row">
    <div class="col-50 center-content"> <img src="../../../assets/target.svg" /> </div>
    <div class="col-50">
      <h3 class="blue">The right approach</h3>
      <p class="grey-d">Anne answers to millenials main aspiration: immediacy.
Anne answers to students' math questions and gives them the right exercises and content when they really need it 24/7.</p>
    </div>
  </div>
</section>

<section id="statistics">
  <div class="content row">
    <div class="col-100">
      <p class="center-text white">65% of 8th graders are not proficient in science* <br/><br/> Only 42% of high school seniors are deemed proficient in History <br/><br/> The way we learn needs to change</p>
    </div>
  </div>
</section>

<section>
  <h1 class="center-text">Our partners</h1>
  <div class="content row">
    <div class="col-33 center-content"> <img src="../../../assets/hec-logo.png" /> </div>
    <div class="col-33 center-content"> <img src="../../../assets/x-logo.png" /> </div>
    <div class="col-33 center-content"> <img src="../../../assets/berk-logo.png" /> </div>
  </div>
</section>
