@import "../../../styles/colors.scss";
@import "../../../styles/metrics.scss";
@import "../../../styles/mixins.scss";

section {
  position: relative;
  padding: 4em 0;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

p {
  font-size: 1.5em;
}

button {
  background-color: rgba(0,0,0,0);
  padding: 1.5em 6em;
  cursor: pointer;
  @include border-radius-1(5px);
  border-width: 2px;
  border-style: solid;
  font-weight: bold;
  font-size: 1em;

  &[class*="prim"] {
    border-color: $white;
    color: $white;
  }

  &:hover {
    background-color: $white;
    color: $color-1;
  }
}

div[class*='content'] {
  width: 60%;
  margin: 0 auto;
  padding: 5px 0;
}

div[class*='row'] {
  @include display-flex();
}

div[class*='row-reverse'] {
  @include display-flex-row-reverse();
}

div[class*='column-centered'] {
  @include display-flex();
  @include flex-flow-column();
  @include align-items-center();
}

img {
  max-height: 300px;
  max-width: 300px;
}

.background-abst {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#banner {
  padding: 30vh 0;

  .background {
    @extend .background-abst;
    background-image: url('../../../assets/background-2.jpg');
    @include filter-contrast(50%);
  }
}

#accessibility {
  .background {
    @extend .background-abst;
    background-image: url('../../../assets/background-3.jpg');
    @include filter-brightness(40%);
  }
}

#statistics {
  .background {
    @extend .background-abst;
    background-image: url('../../../assets/background-4.jpg');
    @include filter-brightness(25%);
  }
}

#get-in-touch {
  background-color: $color-2;
}

.col {
  @include display-flex();
  @include flex-flow-column();
  padding: 5px 0;
}

.center-content {
  @include justify-content-center();
  @include align-items-center();
}

.col-25 {
  @extend .col;
  width: 25%;
}

.col-33 {
  @extend .col;
  width: 33%;
}

.col-50 {
  @extend .col;
  width: 50%;
}

.col-66 {
  @extend .col;
  width: 66%;
}

.col-75 {
  @extend .col;
  width: 75%;
}

.col-100 {
  @extend .col;
  width: 100%;
}

.center-text {
  text-align: center;
}

.white {
  color: white;
}

@media screen and (max-width: $tablet-width) {
  section,
  div[class*='content'],
  #banner,
  .col {
    padding-left: 0;
    padding-right: 0;
  }

  div[class*='content'] {
    width: 100%;
    margin: auto;
  }

  div[class*='row'],
  div[class*='column-centered'],
  .col
  {
    @include flex-flow-column();
    @include align-items-center();
  }
}

/************************** FORM ****************************/

form button {
  width: 100%;
  margin-top: 1em;
  padding: 1.5em 6em;
  cursor: pointer;
  @include border-radius-1(5px);
  border-width: 2px;
  border-style: solid;
  font-weight: bold;
  font-size: 1em;
  background-color: rgba(0,0,0,0);
  border-color: #FFFFFF;
  color: #FFFFFF;

  &:hover {
    background-color: #FFFFFF;
    color: $color-1;
  }

  &[disabled],
  &[disabled]:hover {
    background-color: rgba(0,0,0,0);
    border-color: #FFFFFF;
    color: #FFFFFF;
    opacity: 0.5;
  }
}

form {
  width: 400px;
  margin: 0 auto;
  margin-top: 2em;
  padding: 1em 0;
  @include border-radius-1(10px);

  > div {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;

    label {
      display: block;
      width: 100%;
      margin-bottom: 0.25em;
      color: $grey-d;
    }

    input,
    textarea {
      display: block;
      width: 100%;
      padding: 1em 0;
      padding-left: 1em;

      @include border-radius-1(5px);
      border: 1px solid $grey;
      border-left: 5px solid $grey;
    }
  }
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid $green !important;
}

.ng-invalid:not(form)  {
  border-left: 5px solid $red !important;
}

.errors {
  width: 100%;
  padding: 1em 0;
  text-indent: 1em;
  background-color: $red;
  color: $white;
  border-left: 5px solid $red;
  @include border-radius-1(5px);
}
