<app-header></app-header>

<section id="banner">
  <div class="background"></div>
  <div class="content">
    <div class="flex content-center">
      <h1 class="white">&laquo; Learning is about you &raquo;</h1>
    </div>
  </div>
</section>

<section id="video-presentation">
  <div class="bg-clr"></div>
  <div class="bg-ptrn"></div>
  <div class="content">
    <div class="intrinsic-container">
      <iframe
        [src]="url | safe"
        class="intrinsic-element"
        frameborder="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen >
      </iframe>
    </div>
  </div>
  <div class="content">
    <div class="flex row-centered">
      <div class="col-25">
        <div class="flex content-center">
          <img src="../../../assets/backpack.png" />
        </div>
      </div>
      <div class="col-75">
        <h1 class="center-text white"> Jeny<span class="red">AI</span> is the assistant teachers and students have always dreamed of </h1>
      </div>
      <div class="clear"> </div>
    </div>
  </div>
</section>

<section id="features">
  <div class="background"></div>
  <div class="content">
    <div class="col-33 center-text white">
      <h1> For the students </h1>

      <p> What you will be able to do with JenyAI: </p>

      <p> Get the answers to all your questions <br> 🤔 </p>

      <p> Get the best content adapted to you just in a click <br> 😎 </p>

      <p> Get the exercises you need, no more need to spend hours on the internet <br> 🤓 </p>

      <p> <span class="bold"> No doubt, you're going to be the best! </span> <br> 🔑🔑 </p>

      <a class="button prim" routerLink="/student"> Go! </a>
    </div>

    <div class="col-33 center-text white">
      <h1> For the teachers </h1>

      <p> Get an overview of the level of your class* thanks to our dashboard <br> 📈 </p>

      <p> Get the best feedbacks to deliver a content adapted to the level of your class <br> 🎓 </p>

      <p> No more time lost looking for the ideal content! </p>

      <a class="button prim" routerLink="/teacher"> Go! </a>
    </div>

    <div class="col-33 center-text white">
      <h1> For the parents </h1>

      <p> We ensure personalized support to you child <br> 📑 </p>

      <p> No more money spent on useless books or countless tutoring hours <br> 💵 </p>
      <p> <span class="bold"> Because we believe in the success of your child! </span> <br> 🎊 </p>


      <a class="button prim" routerLink="/student"> Go! </a>
    </div>

    <div class="clear"> </div>
  </div>
  <div class="content">
    <div class="col-100 center-text white">
      <p> *From 6th grade </p>
    </div>
    <div class="clear"> </div>
  </div>
</section>

<section id="accessibility">
  <div class="background"></div>
  <div class="content">
    <div class="flex row-centered row-reverse">
      <div class="col-25">
        <div class="flex content-center">
          <img src="../../../assets/desktop-phone.png" /> </div>
        </div>
      <div class="clear"> </div>
      <div class="col-75">
        <h1 class="white center-text">On your computer</h1>
        <h1 class="white center-text">On your smartphone</h1>
      </div>
    </div>
  </div>
</section>

<section>
  <h1 class="center-text blue">Thinking today about the <span class="red">education of tomorrow</span></h1>

  <div class="content">
    <div class="flex row-centered">
      <div class="col-50">
        <div class="flex content-center">
          <img class="square" src="../../../assets/teacher.png" />
        </div>
      </div>
      <div class="col-50 center-text">
        <h3 class="blue">A new way to learn</h3>
        <p class="grey-d">We believe in personalization and adaptive learning. We tell the students where and why they are wrong. Our interactive content make it easy to learn. We fight frustrating, inefficient math practice to enhance learning.</p>
      </div>
      <div class="clear"> </div>
    </div>
  </div>

  <div class="content flex row-reverse row-centered">
    <div class="col-50">
      <div class="flex content-center">
        <img class="square" src="../../../assets/research.png" />
      </div>
    </div>
    <div class="col-50 center-text">
      <h3 class="red">The best research</h3>
      <p class="grey-d">At the verge of AI, Education and cognitive sciences, we are gathering the best talents to create what could revolutionize the life of millions of children.</p>
    </div>
    <div class="clear"> </div>
  </div>

  <div class="content">
    <div class="flex row-centered">
      <div class="col-50">
        <div class="flex content-center">
          <img class="square" src="../../../assets/target.png" />
        </div>
      </div>
      <div class="col-50 center-text">
        <h3 class="blue">The right approach</h3>
        <p class="grey-d">JenyAI answers to millenials main aspiration: immediacy. JenyAI answers to students' math questions and gives them the right exercises and content when they really need it 24/7.</p>
      </div>
      <div class="clear"> </div>
    </div>
  </div>

  <div class="content flex row-reverse row-centered">
    <div class="col-50">
      <div class="flex content-center">
        <img class="square" src="../../../assets/video-player.png" />
      </div>
    </div>
    <div class="col-50 center-text">
      <h3 class="red">The best content</h3>
      <p class="grey-d">JenyAI provides the best content for the students. Validated by pedagogical experts, we also deliver short curated videos which ensure a perfect understanding of the notions seen in class.</p>
    </div>
    <div class="clear"> </div>
  </div>
</section>

<section id="statistics">
  <div class="background"></div>
  <div class="content">
    <div class="col-100 center-text white">
      <p> 65% of 8th graders are not proficient in science </p>
      <p> The way we learn needs to change </p>
      <p> Get access to great content carefully chosen by our content curator </p>
    </div>
    <div class="clear"> </div>
  </div>
</section>

<section>
  <h1 class="center-text black">Our partners</h1>
  <div class="content">
    <div class="col-50">
      <div class="flex content-center">
        <img class="margin" src="../../../assets/hec-logo.png" />
      </div>
    </div>
    <div class="col-50">
      <div class="flex content-center">
        <img class="margin" src="../../../assets/x-logo.png" />
      </div>
    </div>
    <div class="clear"> </div>
  </div>
  <div class="content">
    <div class="col-100">
      <div class="flex content-center">
        <img class="margin" src="../../../assets/berk-logo.png" />
      </div>
    </div>
    <div class="clear"> </div>
  </div>
</section>

<section id="volunteer">
  <div class="bg-clr"></div>
  <div class="bg-ptrn"></div>
  <h1 class="center-text white">Volunteer today</h1>
  <div class="content">
    <div class="col-100 center-text white">
      <p> Help us build the education of tomorrow! </p>
      <a class="button prim" href="http://volunteer.jenyai.com"> Volunteer </a>
    </div>
    <div class="clear"> </div>
  </div>
</section>

<section id="get-in-touch">
  <h1 class="center-text black">Get in touch</h1>
  <div class="content">
    <div class="col-50 center-content">
      <p>1429, Channing Way, Berkeley, CA</p>
      <p>30 avenue de l'Opéra, 75002, Paris</p>
    </div>
    <div class="col-50 center-content">
      <form
        *ngIf="contacted == false"
        (ngSubmit)="contact()"
        #contactForm="ngForm">
        <div>
          <label for="name"> Name </label>
          <input
            id="name"
            name="name"
            type="text"
            placeholder="name"
            [(ngModel)]="name"
            #nameInput="ngModel"
            required >
          <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
            <div class="errors" *ngIf="nameInput.errors.required"> Your name is required </div>
          </div>
        </div>
        <div>
          <label for="email"> Email </label>
          <input
            id="email"
            name="email"
            type="text"
            placeholder="john@doe.com"
            [(ngModel)]="email"
            #emailInput="ngModel"
            required
            [pattern]="emailPatrn" >
          <div *ngIf="emailInput.invalid && emailInput.touched">
            <div class="errors" *ngIf="emailInput.errors.required"> Your email is required </div>
            <div class="errors" *ngIf="emailInput.errors.pattern"> The entered email is invalid </div>
          </div>
        </div>
        <div>
          <label for="phone"> Phone </label>
          <input
            id="phone"
            name="phone"
            type="text"
            placeholder="phone"
            [(ngModel)]="phone"
            #phoneInput="ngModel"
            [pattern]="phonePatrn" >
          <div *ngIf="phoneInput.invalid && phoneInput.touched">
            <div class="errors" *ngIf="phoneInput.errors.required"> Your phone is required </div>
            <div class="errors" *ngIf="phoneInput.errors.pattern"> A phone number must contains only numbers </div>
          </div>
        </div>
        <div>
          <label for="msg"> Message </label>
          <textarea
            id="msg"
            name="msg"
            type="text"
            placeholder="msg"
            [(ngModel)]="msg"
            #msgInput="ngModel"
            required >
          </textarea>
          <div *ngIf="msgInput.invalid && msgInput.touched">
            <div class="errors" *ngIf="msgInput.errors.required"> Your message can not be blank </div>
          </div>
        </div>

        <div>
          <button type="submit" [disabled]="!contactForm.form.valid"> Send </button>
        </div>
      </form>

      <p *ngIf="contacted == true"> Thank you! We will contact you soon </p>
    </div>
    <div class="clear"> </div>
  </div>
</section>

<section id="footer">
  <div class="bg-clr"></div>
  <div class="bg-ptrn"></div>
  <div class="content">
    <div class="flex content-center">
      <a href="https://www.facebook.com/jenyaiofficial/"> <img class="margin" src="../../../assets/icons/facebook.png"> </a>
      <a href="https://twitter.com/JenyAIofficial"> <img class="margin" src="../../../assets/icons/twitter.png"> </a>
    </div>
  </div>
  <div class="content">
    <div class="col-100 center-text white">
      <p> Copyright © all right reserved </p>
      <a href="https://home.jenyai.com/terms-of-use"> Terms of use </a>
    </div>
    <div class="clear"> </div>
  </div>
</section>
