<div id="catchy">
  <header></header>

  <div id="body">
    <div class="quote">
      <h1>&laquo; learning is about you &raquo;</h1>
    </div>

    <div id="call-to-action">
      <div>
        <button class="prim" routerLink="/teacher">Teacher</button>
        <button class="prim" routerLink="/student">Student</button>
      </div>
      <div>
        <button class="prim">Request access</button>
      </div>
    </div>
  </div>
</div>

<div class="section background-color-2-xl">
  <div class="banner">
    <div>
      <img src="../../../assets/backpack.svg" style="height:300px">
    </div>
    <div>
      <span class="font-xxl"> Anne is the assistant teachers and students have always dreamed of </span>
    </div>
  </div>
</div>

<div class="section background-color-1-xl">
  <div class="middle">
    <div>
      <div><img src="../../../assets/desktop.png" style="height:500px"></div>
      <div class="font-l">Desktop</div>
    </div>
    <div>
      <div><img src="../../../assets/phone.png" style="height:500px"></div>
      <div class="font-l">Smartphone</div>
    </div>
  </div>
</div>

<div class="section">
  <div class="banner">
    <div>
      <img src="../../../assets/teacher.svg" style="height:400px">
    </div>
    <div class="text">
      <div class="title color-1">A new way to learn</div>
      <div class="description">We believe in personalization and adaptive learning. We tell the student where and why they are wrong. Our interactive content make it easy to learn. We fight frustrating, inefficient math practice to enhance learning</div>
    </div>
  </div>
</div>

<div class="section">
  <div class="banner">
    <div class="text">
      <div class="title color-4">The best research</div>
      <div class="description">At the verge of AI, Education and cognitive sciences, we are gathering the best talents to create what could revolutionize the life of millions of children</div>
    </div>
    <div>
      <img src="../../../assets/research.svg" style="height:400px">
    </div>
  </div>
</div>

<div class="section">
  <div class="banner">
    <div>
      <img src="../../../assets/target.svg" style="height:400px">
    </div>
    <div class="text">
      <div class="title  color-5">The right approach</div>
      <div class="description">Anne answers to millenials main aspiration: immediacy. Anne answers to students' math questions and gives them the right exercises and content when they really need it 24/7</div>
    </div>
  </div>
</div>

<div class="section  background-color-5-xl">
  <div class="banner">
    <div>
      <div class="font-xxl"> 65% of  8th graders* are not proficiant in science something needs to be done </div>
      <div class="footnote"> *NAEP, 2016 </div>
    </div>
  </div>
</div>

<div class="section  background-color-2-xl">
  <div class="banner">
    <div>
      <div class="font-xxl"> Want to know more about us?  </div>
    </div>
  </div>
</div>
