@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

:host {

  div[class*="section"] {
    .font-m {
      font-size: 2em;
    }

    .font-l {
      font-size: 3em;
    }

    .font-xxl {
      font-size: 5em;
    }

    > div {
      padding: 2em;
      width: 90%;
      margin: auto;

      &[class*="banner"] {
        @include display-flex();
        @include align-items-center();
        @include justify-content-space-around();

        > div[class*="text"] {
          max-width: 40%;

          > div[class*="title"] {
            @extend .font-xxl;
            margin-bottom: 0.5em;
            font-weight: bold;
          }

          > div[class*="description"] {
            @extend .font-l;
          }

        }

        div[class*="footnote"] {
          @extend .font-m;
          text-align: right;
        }
      }

      &[class*="middle"] {
        @include display-flex();
        @include justify-content-space-around();
        @include align-items-center();
      }

      > div {
        padding: 2em;
        display: inline-block;
        text-align: center;
      }
    }
  }

  button {
    padding: 1.5em 6em;
    margin: 1em;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
    font-size: 1em;

    &[class*="prim"] {
      background-color: rgba(0,0,0,0);
      border-color: #FFFFFF;
      color: #FFFFFF;
    }

    &:hover {
      background-color: #FFFFFF;
      color: $color-1;
    }
  }

  #catchy {
    height: 100vh;
    @include display-flex();
    @include flex-flow-column();
  }

  #body {
    background-image: url('../../../assets/background-1-xd.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include flex-grow(1);
    @include display-flex();
    @include flex-flow-column();
    @include justify-content-center();

    & h1 {
      font-size: 3em;
    }

    #call-to-action {
      @include display-flex();
      @include flex-flow-column();
      @include justify-content-center();
      padding: 1em;

      div {
        display: flex;
        @include justify-content-center();
      }
    }

    .quote {
      padding: 2em;
      color: #FFFFFF;
      text-align: center;
      font-style: italic;
    }
  }
}
