@import '../../../../../styles/colors.scss';
@import '../../../../../styles/metrics.scss';
@import '../../../../../styles/mixins.scss';

#container {
  box-sizing: border-box;
  margin-top: #{$msg-mg-top};
  max-width: #{$msg-image-w};
  padding: 0.5em;
  @include border-radius-1(10px);

  &[class*="right"] {
    margin-left: calc(100% - #{$msg-image-w});
    background-color: $color-1;
    color: white;
  }

  &[class*="left"] {
    background-color: $color-3;
    color: white;
  }
}

img {
	width: 100%;
	cursor: zoom-in;

	&[class*="magnified"] {
		position: absolute;
		z-index: 10000;
		top: 0;
		left: 0;
		right: 0;
		margin: 1em auto;
		width: 100%;
		max-width: 800px;
		cursor: zoom-out;
	}
}

#bg-magnified {
	position: fixed;
	z-index: 9000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $black;
	opacity: 0.9;
}

@media screen and (max-width: $tablet-width) {
  #container {
    max-width: 100%;

    &[class*="right"] {
      margin-left: 0;
    }
  }
}
