@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

:host {
  @include flex-grow(1);
  @include display-flex();
  @include flex-flow-column();

  button {
    padding: 1.5em 6em;
    cursor: pointer;
    @include border-radius-1(5px);
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
    font-size: 1em;

    &[class*="prim"] {
      background-color: rgba(0,0,0,0);
      border-color: #FFFFFF;
      color: #FFFFFF;
    }

    &:hover {
      background-color: #FFFFFF;
      color: $color-1;
    }
  }

  #body {
    background-image: url('../../../assets/background-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include flex-grow(1);
    @include display-flex();
    @include flex-flow-column();
    @include justify-content-center();

    > div {
      background-color: $color-1;
      margin: auto;
      padding: 2em;
      @include border-radius-1(10px);

      @include display-flex();
      @include flex-flow-column();
      @include justify-content-center();

      #inputs {
        @include display-flex();
        @include flex-flow-column();
        @include justify-content-center();
        padding: 1em;

        > div {
          @include display-flex();
          @include flex-flow-column();
          margin-bottom: 1em;

          label {
            @include flex-grow(1);
            margin-bottom: 0.5em;
            color: white;
          }

          input {
            @include flex-grow(1);
            padding: 1em;

            @include border-radius-1(5px);
            border: 1px solid rgba(0,0,0,0.3);
          }
        }
      }

      #call-to-action {
        @include display-flex();
        @include justify-content-center();
        padding: 1em;
      }
    }
  }
}
