@import '../../../../../styles/colors.scss';
@import '../../../../../styles/metrics.scss';
@import '../../../../../styles/mixins.scss';

:host {
  margin-top: #{$msg-mg-top};
  @include display-flex();

  #container {
    @include flex(0,0,auto);
    max-width: #{$msg-text-max-w};
    word-wrap: break-word;
    padding: 0.5em;
    @include border-radius-1(10px);

    &[class*="right"] {
      background-color: $color-1;
      color: white;
    }

    &[class*="left"] {
      background-color: $color-3;
      color: white;
    }
  }

  #filler {
    @include flex-grow(1);
  }
}
