/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: arialRounded;
    src: url('./assets/fonts/arialRounded.ttf');
}

* {
  font-family: arialRounded;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}
