/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: arialRounded;
    src: url('./assets/fonts/arialRounded.ttf');
}

* {
  font-family: arialRounded;
}

body {
  margin: 0;
}

#loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  transform: translateY(0%) !important;

  display: flex;
  align-items: center;
  justify-content: center;
}

#loader-c1 {
  margin: 0 2em;
  opacity: 0;
  animation-name: 'expand';
  animation-duration: 3s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

#loader-c2 {
  margin: 0 2em;
  opacity: 0;
  animation-name: 'expand';
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

#loader-c3 {
  margin: 0 2em;
  opacity: 0;
  animation-name: 'expand';
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes expand {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  33% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
